/*A game made by Erdem Hanay*/
/*Welcome to the beauty center of the Website.
This is where we will design our website.*/
/*So CSS as the name suggests is a cascading system.
In this system it matters which thing you put first.
Other than that we should think about elements as boxes when working with CSS.
But this concept is nearly impossible to explain.
This perspective should be attained through experience.
I understood this after a month and a half of struggling :)*/

/*btw I used some classes as tools that could be enabled and disabled through JS.*/

:root {
  /*Defines concepts within the root of the DOM, specifically html.
I used this to create color variables.
This made using and changing colors much easier.
the values are in rgb.
some are in rgba, the a specifies the opacity of the color.
We use rgba when we need to specify an opacity value other than 1.*/
  --c-blue: rgb(0, 255, 255);
  --c-magenta: rgb(255, 0, 255);
  --c-purple: rgb(180, 0, 255); /*I love Purple :)*/
  --c-green: rgb(57, 255, 20);
  --c-pink: rgb(255, 20, 147);
  --c-red: rgb(255, 0, 85);
  --c-yellow: rgb(255, 255, 0);
  --c-orange: rgb(255, 110, 0);
  --c-teal: rgb(0, 200, 200);
  --bg: rgb(0, 0, 0);
  --tx: rgb(0, 255, 255);
  --pc: rgb(255, 255, 0);
  --canva-shadow: rgba(0, 200, 200, 0.686);
  --boring-ahh: rgba(52, 52, 52, 0.723); /*I got bored and did this :)*/
  --stupid-ahh: rgb(59, 59, 59);
  --type-shi: rgba(255, 0, 85, 0.726);
  --dash-color: rgb(223, 223, 223);
  --trail-color: rgba(255, 255, 255, 0.734);
}

/*This effects everything.
This is the start of the cascade.*/

* {
  width: 100%; /*specifys the width*/
  height: 100%; /*specifys the height*/
  margin: 0; /*the space between the elements*/
  padding: 0; /*the space within the elements*/
  overflow-y: hidden; /*what happens when too much content is visible.*/
  overflow-x: hidden; /*same for the x axis.*/
}

/*effects everything inside the body tag*/
body {
  width: 100vw;
  height: 100vh;
  display: flex; /*flex is a positioning tool I prefer over others.*/
  justify-content: center; /*Horizontally centers elements*/
  align-items: center; /*Vertically centers elements*/
  flex-direction: column; /*Specifies direction in which the children will appear.*/
  background-color: var(--bg); /*background color*/
  color: var(--tx); /*text color*/
  font-size: 1rem; /*font size*/
  font-family: monospace, sans-serif; /*x,y: x means the first choice for font while y is the backup if the font is unavailable.*/
  text-shadow: 0 0 0.4rem var(--c-red); /*I use this to make glow effects usually.*/
}

h2 {
  width: fit-content; /*fit-content makes the measurement in a way that will fit the content. great for responsive design especially.*/
  height: fit-content;
}

.g-canvas {
  display: block; /*removes inline behaviour thus could prevent spacing issues which I had here.*/
  margin: 0;
  padding: 0;
  height: 30rem;
  width: 35rem;
  box-shadow: 0 0 3rem var(--canva-shadow); /*I used this as a part of the glow effect, opposite of shadow :)*/
  border: 0.2rem solid var(--c-blue); /*This fit the theme very well.*/
}

.a-canvas {
  box-shadow: 0 0 5rem var(--boring-ahh);
  border: 0.2rem solid var(--stupid-ahh);
}

.d-canvas {
  box-shadow: 0 0 5rem var(--type-shi);
  border: 0.2rem solid var(--c-red);
}

.logC {
  height: 1rem;
  width: fit-content;
  margin: 0.2rem;
  padding: 0.2rem;
  color: var(--c-red);
  background-color: var(--c-blue);
  overflow: hidden;
}

/*This part makes a blinking curser effect*/
.logC:empty {
  animation: blink-bg 1s steps(2) infinite; /*steps(2) makes it a sharp transition*/
}

@keyframes blink-bg {
  /*@keyframes is the area where we create the animations*/
  0%,
  50% {
    background-color: var(
      --c-blue
    ); /*at the positions of 0% and 50% the background color is set to blue*/
  }
  51%,
  100% {
    background-color: var(
      --c-red
    ); /*at the positions of 51% and 100% the background color is set to red*/
  }
}

/*Fun fact the color red is the hardest color to see at a distance while the color blue is the easiest.
That could be the reason why the police uses this color schema.*/

.logT {
  height: fit-content;
  width: fit-content;
  color: var(--c-red);
  text-decoration: underline; /*this is like the text decoration on Word.*/
}

.logP {
  height: fit-content;
  width: fit-content;
  color: var(--c-teal);
  font-size: 0.6rem;
}

.paran {
  font-size: larger; /*you can make the font size "larger" which makes it larger than its parent*/
  color: var(--c-yellow);
  text-shadow: 0 0 1rem var(--c-yellow);
}

/*At first (months) CSS feels frustrating to work with but with experience one day everything just "clicks" in your mind.*/
